.callUsButton {
	padding: 15px;
	border-radius: 10px;
	border: none;
	background-color: var(--contrast-color-dark);
	font-family: var(--main-family);
	font-size: var(--font-size-m);
	color: var(--font-color-main);
	cursor: pointer;
	transition: 0.3s;
}
.callUsButton:hover {
	background-color: var(--contrast-color-main);
}
