.callUsButton {
	width: calc(var(--index) * 8);
	height: calc(var(--index) * 2.5);
	border-radius: 10px;
	border: none;
	background-color: var(--contrast-color-main);
	font-family: var(--main-family);
	font-size: var(--font-size-m);
	color: var(--font-color-main);
	cursor: pointer;
	margin-top: calc(var(--index) * 1.5);
}
.callUsButton:hover {
	background-color: var(--contrast-color-dark);
}
