.ArticleCardWrapper {
	box-sizing: border-box;
	padding: calc(var(--index) * 0.6);
	width: 100%;
	list-style: none;
	background-color: var(--main-color);
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}
.title {
	width: 67%;
	font-family: var(--main-family);
	color: var(--font-color-main);
	font-size: var(--font-size-m);
}
.fullDate {
	width: 8%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: calc(var(--index));
}
.date {
	font-family: var(--main-family);
	color: var(--font-color-main);
	font-weight: 900;
	font-size: var(--font-size-l);
}
.month {
	font-family: var(--main-family);
	color: var(--font-color-dark);
	font-size: var(--font-size-s);
}
.preview {
	border-radius: 10px;
	width: 20%;
}
