.header {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: var(--mainColor);
	height: 10vh;
}
.nav {
	display: flex;
}
.title {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.titleContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo {
	margin-inline-end: calc(var(--index) * 0.3);
	height: calc(var(--index) * 2);
	width: calc(var(--index) * 2);
	background-image: url(/src/assets/images/logo.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.description {
	color: var(--fontColorMain);
	font-family: var(--headingFamily);
	font-size: calc(var(--index) * 0.41);
}

.heading {
	color: var(--fontColorMain);
	font-family: var(--headingFamily);
	font-size: calc(var(--index) * 1);
}
