.FavorListWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 50vh;
	background-color: var(--dark-color);
	padding: calc(var(--index) * 2) 0;
}
.FavorListContainer {
	width: 80%;
}
.FavorList {
	gap: calc(var(--index));
	display: flex;
	width: 90%;
	max-width: 1600px;
	padding: 20px;
	margin: 0 auto;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.column {
	display: flex;
	flex-direction: column;
	align-items: center;
}
