.CardWrapper {
	width: 300px;
	height: 400px;
	box-sizing: border-box;
	padding: 20px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--font-color-main);
	background-color: var(--main-color);
	border-radius: 10px;
	flex: 1 0 auto;
	justify-content: space-between;
}
.title {
	display: flex;
	font-family: var(--heading-family);
	font-size: var(--font-size-l);
	color: var(--font-color-main);
}
.text {
	margin-top: calc(var(--index));
	font-family: var(--main-family);
	font-size: var(--font-size-m);
	color: var(--font-color-dark);
}
.img {
	width: 100%;
}
