.floatButtonContainer {
	width: 8em;
	height: 8em;
	position: fixed;
	bottom: calc(var(--index) * 1);
	right: calc(var(--index) * 1);
}
.floatButton {
	width: 60%;
	height: 60%;
	border-radius: 50%;
	background-color: var(--contrast-color-main);
	border: none;
	color: var(--font-color-main);
	font-size: 2.5rem;
}
.floatButton:hover {
	background-color: var(--contrast-color-dark);
}
