.floatButtonContainer {
	width: 8em;
	height: 8em;
	position: fixed;
	bottom: calc(var(--index) * 1);
	right: calc(var(--index) * 1);
}
.floatButton {
	width: 60%;
	height: 60%;
	border-radius: 50%;
	background-color: #ac9250;
	border: none;
	color: var(--font-color-main);
	font-size: 2.5rem;
	// font-size: var(--font-size-l);
}
.floatButton:hover {
	background-color: #59471a;
}
