.floatButtonContainer {
	width: 8em;
	height: 8em;
	position: fixed;
	bottom: 0;
	right: 0;
}
.floatButton {
	display: flex;
	width: 55%;
	height: 55%;
	border-radius: 50%;
	background-color: var(--contrast-color-dark);
	border: none;
	color: var(--font-color-main);
	font-size: 3rem;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: 0.5s;
}
.floatButton:hover {
	rotate: 360deg;
	background-color: var(--contrast-color-main);
}
@media (max-width: 700px) {
	.floatButtonContainer {
		width: 6em;
		height: 6em;
	}
	.floatButton {
		font-size: 2.2rem;
	}
}
