.NotFoundPageWrapper {
	min-height: 67vh;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.innerBox {
	position: absolute;
	width: 80%;
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}
.title {
	font-family: var(--main-family);
	color: var(--font-color-main);
	font-size: var(--font-size-l);
}
