.NotFoundPageWrapper {
	min-height: 67vh;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.background {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(/src/assets/images/background.png);
	z-index: -1;
	scale: 1.01;
	filter: brightness(0.5) blur(1.5px);
}
.innerBox {
	position: absolute;
	width: 80%;
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}
.title {
	font-family: var(--main-family);
	color: var(--font-color-main);
	font-size: var(--font-size-l);
}
