.LogoWrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	user-select: none;
}

.hoveredLogo {
	cursor: pointer;
}

.titleContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo {
	height: calc(var(--font-size-m) * 2);
	width: calc(var(--font-size-m) * 2);
	margin-right: 8px;
	background-image: url(/src/assets/images/logo.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.description {
	color: var(--font-color-main);
	font-family: var(--heading-family);
	font-size: calc(var(--font-size-m) * 0.41);
}

.heading {
	color: var(--font-color-main);
	font-family: var(--heading-family);
	font-size: var(--font-size-m);
}
