.member {
	margin: calc(var(--index));
	border-radius: 10px;
	backdrop-filter: blur(5px);
	background-color: rgba(255, 255, 255, 0.05);
	width: calc(var(--index) * 12);
	height: calc(var(--index) * 18);
	display: flex;
	align-items: center;
	justify-content: center;
	&Box {
		width: 80%;
		height: 80%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&Photo {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		height: calc(var(--index) * 6);
		width: calc(var(--index) * 6);
		border-radius: 50%;
	}
	&Name {
		margin-top: calc(var(--index) * 0.3);
		font-family: var(--mainFamily);
		color: var(--fontColorMain);
		font-size: calc(var(--index));
	}
	&Post {
		font-family: var(--mainFamily);
		color: var(--fontColorMain);
		font-size: calc(var(--index));
	}
	&Description {
		font-family: var(--mainFamily);
		color: var(--fontColorDark);
		font-size: calc(var(--index) * 0.85);
	}
}
