.heroSection {
	height: 60vh;
}
.slide {
	animation: slowScroll 5s linear infinite forwards alternate;
}

@-webkit-keyframes slowScroll {
	from {
		background-position: 0 center;
	}
	to {
		background-position: -2em center;
	}
}
