.carouselBox {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.carousel {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 960px;
	margin: 0 20px;
	flex-direction: column;
	overflow: hidden;
}

.button {
	color: var(--font-color-main);
	font-size: 2rem;
}

.cards {
	display: flex;
}

@media (max-width: 600px) {
	.carousel {
		width: 320px;
	}
}
@media (min-width: 600px) and (max-width: 900px) {
	.carousel {
		width: 640px;
	}
}
@media (min-width: 900px) and (max-width: 1600px) {
	.carousel {
		width: 960px;
	}
}
@media (min-width: 1600px) {
	.carousel {
		width: 1280px;
	}
}
