.aboutSection {
	padding: calc(var(--index) * 2) 0;
	height: calc(var(--index) * 25);
	width: 100%;
	background-color: var(--dark-color);
	display: flex;
	align-items: center;
	justify-content: center;
}
.innerContainer {
	height: 90%;
	width: 90%;
	display: flex;
	flex-direction: row;
}
.pictureBox {
	display: flex;
	height: 100%;
	width: 50%;
	align-items: center;
	justify-content: center;
}
.picture {
	background-image: url(/src/assets/images/about.png);
	height: 70%;
	width: 75%;
	background-size: contain;
	background-repeat: no-repeat;
}
.textBox {
	height: 100%;
	width: 60%;
	display: flex;
	flex-direction: column;
}
.heading {
	display: flex;
	font-family: var(--heading-family);
	font-size: var(--font-size-l);
	color: var(--font-color-main);
	margin-bottom: calc(var(--index) * 0.5);
}
.description {
	margin-top: calc(var(--index) * 0.5);
	font-family: var(--main-family);
	font-size: var(--font-size-m);
	color: var(--font-color-dark);
}
