.ContactPageWrapper {
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 100%;
	padding: 20px 0;
}

.contactPageContainer {
	width: 80%;
	max-width: 1600px;
}

@media (max-width: 800px) {
	.ContactPageWrapper {
		flex-direction: column;
	}
}
