.review {
	margin: calc(var(--index));
	border-radius: 10px;
	width: calc(var(--index) * 12);
	height: calc(var(--index) * 16);
	display: flex;
	align-items: center;
	justify-content: center;
	&Box {
		width: 80%;
		height: 80%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
	}
	&Photo {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		height: calc(var(--index) * 4);
		width: calc(var(--index) * 4);
		border-radius: 50%;
	}
	&Name {
		margin-top: calc(var(--index) * 0.3);
		font-family: var(--main-family);
		color: var(--font-color-main);
		font-size: calc(var(--index));
	}
	&Text {
		font-family: var(--main-family);
		color: var(--font-color-dark);
		font-size: calc(var(--index) * 0.85);
		line-break: anywhere;
		margin-bottom: calc(var(--index));
	}
	&Post {
		font-family: var(--main-family);
		color: var(--font-color-dark);
		font-size: calc(var(--index));
	}
}
