.tabBox {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.tabContainer {
	border-top: solid var(--font-color-dark) 2px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.tab {
	display: flex;
	margin: calc(var(--index));
	font-family: var(--main-family);
	font-size: calc(var(--index) * 1);
	color: var(--font-color-dark);
	cursor: pointer;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.tabText {
	margin: calc(var(--index));
	font-family: var(--main-family);
	font-size: calc(var(--index) * 1);
	color: var(--font-color-dark);
}
.heading {
	margin-top: calc(var(--index) * 0.5);
}
