.heading {
	font-size: calc(var(--index) * 2);
	font-family: var(--heading-family);
	color: var(--font-color-main);
	padding: 15px 0;
}
.Section {
}
.headingBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
