.favorCardsGrid {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.FavorListWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: var(--dark-color);
	padding: 20px 0;
	box-shadow: 0px 1px 4px 1px #000;
}

.FavorListContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.FavorList {
	gap: 10px;
	display: flex;
	width: 90%;
	max-width: 1600px;
	padding: 20px;
	margin: 0 auto;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
