.navButton {
	display: flex;
	color: var(--font-color-main);
	font-family: var(--main-family);
	box-sizing: border-box;
	font-size: 1.5em;
	text-decoration: none;
	align-items: center;
	transition: 0.4s;
	border-bottom: 2px solid rgba(0, 0, 0, 0);

	&:hover {
		border-bottom: 2px solid var(--font-color-main);
	}
}
