.navButton {
	display: flex;
	color: var(--fontColorMain);
	font-family: var(--mainFamily);
	box-sizing: border-box;
	font-size: 1.5em;
	text-decoration: none;
	align-items: center;
	margin-left: calc(var(--index));

	&:hover {
		padding-bottom: 8px;
		border-bottom: 2px solid var(--fontColorMain); //theme?
	}
}
