:root {
	--index: calc(1vh + 1vw);

	//Palette
	--main-color: #171d3d;
	--dark-color: #070d28;
	--light-color: #54609e; //#68709E
	--super-light-color: #68709e;
	--font-color-main: #ffffff;
	--font-color-dark: #b3b3b3;
	--font-color-main-inverted: #000000;
	//Palette

	//Font styles
	--heading-family: Copperplate;
	--main-family: CenturyGothic;
	//Font styles
	--font-size-s: calc(var(--index) * 0.7);
	--font-size-m: calc(var(--index) * 1);
	--font-size-l: calc(var(--index) * 1.5);
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: var(--main-color);
}

::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: var(--light-color);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--super-light-color);
}

@font-face {
	font-family: Copperplate;
	src: url(./assets/fonts/CopperplateGothicBold/Copperplate_Gothic_Bold.ttf);
}

@font-face {
	font-family: FortuneC;
	src: url(./assets/fonts/FortuneC/FortuneC.ttf);
}

@font-face {
	font-family: CenturyGothic;
	src: url(./assets/fonts/CenturyGothic/centurygothic.ttf);
}
