.footer {
	background-color: #0e0e0e;
	display: flex;
	flex-direction: column;
}
.copyright {
	height: 3vh;
	color: var(--fontColorDark);
	font-family: var(--mainFamily);
	background-color: #000000;
	display: flex;
	align-items: center;
	& > p {
		margin-inline-start: calc(var(--index));
	}
}
.mainBox {
	height: 20vh;
	color: var(--fontColorMain);
	font-family: var(--mainFamily);
}
