.footer {
	background-color: #0e0e0e;
	display: flex;
	flex-direction: column;
}
.copyright {
	height: 3vh;
	color: var(--font-color-dark);
	font-family: var(--main-family);
	background-color: #000000;
	display: flex;
	align-items: center;
	& > p {
		margin-inline-start: calc(var(--index));
	}
}
.FooterContainer {
	max-width: 1600px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
.mainBox {
	display: flex;
	height: 20vh;
	color: var(--font-color-main);
	font-family: var(--main-family);
	flex-direction: column;
}
.link {
	text-decoration: none;
	color: var(--font-color-main);
	font-size: calc(var(--index) * 0.8);
}
.options {
	display: flex;
	flex-direction: row;
}
.optionsCol {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
